body{
    background: url(../images/bg2.jpg);
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: bold; /* 300*/
    font-size: 10px;  

}


img {

    border: none;

}
.centrado{
    position: absolute;
    height: 80px;
    left:35%;
    min-width: 250px;

}

.centrado2{
    position: absolute;
    left:32.5%;
    width: 33.333%;
    min-width: 250px;
    padding-top: 130px;
}

#titulo{
    font-size: 32px;
    font-weight: normal;
}

#texto{ 
    font-family: 'Source Sans Pro', sans-serif;

    font-weight: 900; /* 300*/
    font-size: 20px;   
}


.ui-widget .ui-widget{
    font-size:14px;
}



/**** ***/
.topElemsClass{    
    vertical-align: top;   
}

.column30{
    width: 30%;
}

.column70{
    width: 70%;
}

.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive{
    border: none;    
}
/** ***/


.ui-grid-col-12{
    padding: 10px;
    padding-left: 40px;	
}


.widget {
    margin-top: 25px;
    /* margin-bottom: 15px;*/   
}


/* fondo transparente */
.widget__title {
    float: left;
    display: inline-block;
    /* background-color: rgba(0, 0, 0, 0.3);*/
    width: calc(100% - 25px);

}

.ui-menu .ui-menuitem-link {
    padding: 0.4em;
    font-size:16px;
    font-weight:bold;
}

/*color del texto menu    ROJO QUEMADO A8141C*/

.ui-widget-content a{
    color: #606060;
}



a.ui-menuitem-link.ui-corner-all.ui-state-hover{
    color:#CC0514; /*#A8141C;*/
    background: transparent; 
    width: 100%;
}

/* forma de la flecha 32 16    20 46*/
.ui-icon-triangle-1-e{
    background-position:-50px -16px;
}


/* la posi flechas */
.ui-menu .ui-menu-parent .ui-icon-triangle-1-e, .ui-menu .ui-menu-parent .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s{
    float:left;
    margin-left: 10px;
    display: inline-block;

}


/*iconos*/
.ui-menu .ui-menuitem-link .ui-menuitem-icon{
    margin-right:10px;
}


/*.widget__header {
    position: relative;
    width: calc(100% + 0px);
    overflow: hidden;
}

.no-padding--lr .widget__header {
    padding-left: 25px;
    padding-right: 25px;
}
.no-padding .widget__header {
    padding: 25px 25px 0 25px;
}


.widget__title h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    font-weight: 100;
    display: inline-block;
}

.widget__title i {
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 28px;
    vertical-align: top;
}
.widget__title span {
    font-size: 16px;
}

.one-btn .widget__title {
    width: calc(100% - 70px);
}
.widget__config {
    float: left;
    width: 130px;
    height: 63px;
}

.one-btn .widget__config {
    width: 64px;
}

*/


/*texto del menu */


/*----------------------------------*/

/* 
 Main navigation
*/

#menuPrincipal a:link {
    text-decoration: none;
    text-align:left;
    padding-left: 60px;
}
ul {
    list-style:none;

}


.main-nav {
    list-style: none;
    position: relative;


}
.main-nav:after {
    content: '';
    width: 100%;
    position: absolute;
}

.main-nav__link {
    position: relative !important;
    display: block !important;
    color: white !important;
    font-size: 16px !important;
    line-height: 55px !important; /*75*/
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-style: none !important; 
    border-radius: 3px !important;
    margin-top: 2px !important;
    -webkit-transition: background 0.3s !important;
    transition: background 0.3s !important;
    /* overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     padding-right: 10px;*/
}
.main-nav__link:hover {
    text-decoration: none;
    /*color: rgba(255, 255, 255, 0.85);*/
}

/*.main-nav__link .badge {
  position: absolute;
  right: 46px;
  top: 20px;
}*/
.main-nav--active .main-nav__link:hover {
    color: white;
}

.main-nav--active {
    border-right: 6px solid #1c7dfa;
}

.main-nav li:not(.main-nav--active):hover .main-nav__link {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.main-nav li:not(.main-nav--active):hover .main-nav__link:after {
    color: #fff;
}

/*.main-nav__icon {
  display: inline-block;
  background: transparent;
  text-align: center;
  width: 65px;
  height: 63px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
.main-nav__icon i {
  font-size: 20px;
  vertical-align: middle;
}*/

.main-nav--collapsible {
    height: auto;
}
.main-nav--collapsible.main-nav--open .main-nav__submenu, .main-nav--collapsible:hover .main-nav__submenu {
    max-height: 500px;
}
.main-nav--collapsible.main-nav--open .main-nav__link:after, .main-nav--collapsible:hover .main-nav__link:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.main-nav__submenu {
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    /* background-color: rgba(0, 0, 0, 0.5);*/
    overflow: hidden;
}
/*.main-nav__submenu i {
  display: none;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}*/
.main-nav__submenu li a {
    display: block;
    color: white;
    /* text-transform: uppercase;*/
    text-align:left;
    font-size: 14px;
    line-height: 45px; /*65*/
    padding-left: 50px;
    text-decoration: none;
    /* -webkit-transition: background .3s, color .3s;
             transition: background .3s, color .3s;*/
}
.main-nav__submenu li a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}


.logosit{
    background-color: rgba(0, 0, 0, 0.3); 
    border-style: none; 
    border-radius: 3px;  
    /*line-height: 75px;*/
    text-align: center;   
    margin-left: -60px; 
    margin-top: 2px;
    padding: 20px;
    padding-left: 45px;
}
/****************************************************************/
.ui-grid-col-9{
    padding-left: 10px;}


/*.col-md-12{float:left}
.col-md-12{width:100%}
.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}*/



.widget {
    margin-top: 25px;
    margin-bottom: 15px;
}


.widget__content {
    position: relative;
    margin-top: 1px;
    font-size:15px;
    font-weight:normal;
    /*width: calc(100% + 0px);*/
}
.widget__content.filled {
    background-color: rgba(0, 0, 0, 0.3); 
    border-style: none; 
    border-radius: 3px;  
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-left:30px;
    margin-right:30px;
    margin-top:2px;
}
.widget__content.filled.pad20 {
    padding: 20px;
}


h3{
    font-size: 20px;
}

#formLoad:j_idt40{
    font-size:14px;}
.ui-outputlabel .ui-widget{
    font-size:14px;}

.ui-column-title{
    font-size:14px;
}

.ui-datalist .ui-datalist-empty-message{
    font-size:10px;
}

.ui-datatable tbody td{
    font-size:10px;
}

.ui-picklist .ui-picklist-list li{
    font-size:10px;
}

.ui-selectonemenu label.ui-selectonemenu-label{
    font-size:10px;
}

.ui-widget .ui-widget{
    font-size:12.5px;
}

.ui-panel .ui-panel-title{
    font-size:15px;
}

.ui-widget-content{
    background-color:rgba(255,255,255,0.6);
}

.ui-datatable .ui-datatable-data tr.ui-state-hover{
    background-color: rgba(188,2,2,0.3);
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    background-color:#FFF;
}

tr.ui-state-hover{
    background-color: rgba(188,2,2,0.7);
}

.ui-datatable-tablewrapper tr:hover td{
    background-color: rgba(206,6,6,0.9);
    color:#FFF;	
}

.ui-paginator-page .ui-state-default .ui-state-active .ui-corner-all .ui-state-focus{
    background-color: rgba(206,6,6,0.9);
}


/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
        background-color: rgba(188,2,2,0.6);
        box-shadow: #FFF;
        
}*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: rgba(165,165,165,0.9);
    border: 1px solid #a0a0a0;
    color: #3f3f3f;
}

.ui-inputfield .ui-inputtext .ui-widget .ui-state-default .ui-corner-all .ui-state-hover{
    background-color:#FFF;
}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: #fff;
    box-shadow: #CCC;
}



span.ui-radiobutton-icon.ui-icon.ui-c.ui-icon-bullet{
    background: rgb(175,79,79);

}
