<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="SharePortalPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.femsa.kof.pojos.ShareCatCategorias</class>
    <class>com.femsa.kof.pojos.ShareCatGrupoCategorias</class>
    <class>com.femsa.kof.pojos.ShareCatPais</class>
    <class>com.femsa.kof.pojos.ShareCatRol</class>
    <class>com.femsa.kof.pojos.ShareCatStatus</class>
    <class>com.femsa.kof.pojos.ShareTmpAllInfoCarga</class>
    <class>com.femsa.kof.pojos.ShareUsuario</class>
    <class>com.femsa.kof.pojos.ShareCatFabricante</class>
    <class>com.femsa.kof.pojos.ShareCatCanales</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <!-- <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
      <property name="javax.persistence.jdbc.password" value="kofuser"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="kofuser"/>
    </properties> -->
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@10.138.3.32:1527:DSE"/>
      <property name="javax.persistence.jdbc.password" value="temporal"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="BOE14DEVHA"/>
    </properties> 
  </persistence-unit>
</persistence>
